<html lang="en">

<head>
    {{>header}}
</head>

</head>

<body class="container">
    <h1 class="label-info">{{title}}</h1>
    <div class='panel-heading'>{{subject}}</div>
    <div class='panel-heading'>{{review}}</div>
</body>

</html>